@charset "utf-8";
/* CSS Document */
*{margin:0; padding: 0; box-sizing: border-box; text-align: justify;}
body{margin:0; padding: 0; font-family:arial; font-size:14px;  }
.container{width:1000px; margin: auto;}
header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(27, 2, 96) 34%, rgb(72, 218, 238) 100%);
    color:#fff; padding:30px; font-size: 30px;
}
nav{background:#000; padding:10px;}
nav a{color:#fff; text-decoration: none; padding:10px; border-right:1px solid #fff;}
nav a:hover{text-decoration:underline;}
section{

    padding:20px;
    width:70%;
    float: left;
}

p a{color:#1b0260; text-decoration: none; padding:10px;}
p a:hover{text-decoration:underline; color: #306014}
table, th, td
{
    width:100%;
    border:1px solid;
    border-spacing: 3px;
    border-collapse:separate;
    margin:3px;
    padding: 3px;
}
h1{margin:10px 0;
}
img{margin:0 20px 20px 0;
}
article{
    width:30%;
    padding:20px;
    float: right;
}
footer{
    clear: both;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(27, 2, 96) 34%, rgb(72, 218, 238) 100%);
    padding:10px; color:#fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.container2 {
    position: relative;
    width: 100%;
    height: 50%;
    margin: 10px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-right: 15px;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #48daee;

}

.container2:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


* {box-sizing:border-box}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.mycol
{
    width: 100%;
    margin: 5px;
    padding: 5px;
}
.mycoll
{
    width: 30%;
    margin: 5px;
    padding: 5px;
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 500px) {
    .grid-container {
        display: block;
    }
}